<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <form>
                <h3>Login</h3>
                <div class="form-group row mt-2">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3" />
                    </div>
                </div>
                <div class="text-end mt-4">
                    <input type="submit" class="btn btn-info" value="Update Records">
                </div>
            </form>
        </div>
    </div>
</div>

